<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>Renault Smart Center - ERP System</title>
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/Microsoft.AspNetCore.Components.Web/styles/bootstrap/bootstrap.min.css" />
</head>
<body>
    @RenderBody()

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
